.img{

    width: 100%;
    border: 1px solid black;
}

.item{

    height: 30rem;
    width: 100%;

}



@media screen and(min-width:800px) {
    

    .img{

        display: block;
        margin: auto;
        width: 100%;
        height: 16rem;
    }
    
    .item{
    
        height: 34rem;
        width: 25%;

    }
    
}