.img{

    width: 100%;
    border: 1px solid black;
}

.item{

    height: 30rem;
    width: 100%;

}

.imgGrille{


    display: flex;
    margin-top: 4rem;

}
.imgGrille img{


    width: 5rem;
   cursor: pointer; 
   border: 1px solid black;
   margin: 0.5rem;

}


@media screen and(min-width:800px) {
    

    .img{

        display: block;
        margin: auto;
        width: 100%;
        height: 16rem;
    }
    
    .item{
    
        height: 34rem;
        width: 25%;

    }
    
}