@tailwind base;
@tailwind components;
@tailwind utilities;
  :root {
    background-color: #FDF0E5;
    --marron:#9F4743;
    --testimonyColor:#2A2A3A;
    --beige: #EECFB4;
    --rougeMarron:#C75146;
    --noir:#2A2A3A;
    --beigeClair: #FDF0E5;
    max-width: 100%;
  }



  h1{

    font-weight: 800;
    font-size: 1.5rem;

  }

  h2{

    font-weight: 600;
    font-size: 1.2rem;
  }

  p{

    font-weight: 400;
  }