.img{

    display: block;
    margin: auto;
    width: 100%;
    height: 20rem;
}

.item{

    height: 30rem;
    width: 100%;

}


@media screen and(min-width:800px) {
    

    .img{

        display: block;
        margin: auto;
        width: 100%;
        height: 16rem;
    }
    
    .item{
    
        height: 34rem;
        width: 25%;

    }
    
}